<section id="render_target" style="flex-direction: column; justify-content: center; align-items: center; width: 100%;">
  <p class="wot">
    <%= live_render(@conn, SturdyUmbrellaWeb.ClockLive) %>
  </p>
</section>
