/* This file is for your main application css. */
@import url('https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i');

@import "./phoenix.css";

html {
  height: 100vh;
  font-family: Roboto, Helvetica, sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin-top: 0;
  margin-bottom: 0;
  padding-bottom: 2rem;
}

.phx-logo {
  margin: 0;
}

.container {
  max-width: unset;
  padding-left: 5rem;
  padding-right: 5rem;
}

header {
  margin-top: 3rem;
  padding-left: 10rem;
  padding-right: 10rem;

  text-align: center;
}

main + footer {
  align-self: flex-end;
}

main + footer p {
  font-size: 95%;
}

main + footer p {
  text-align: right;
  margin: 0;
}

.timestamp {
  font-size: 75%;
  margin-top: 0.75rem;
}

header p {
  margin: 0;
  padding: 0;
  text-align: right;
}

.small::before {
  content: '\002014 ';
  color: black;
  font-size: 90%;
}

#render_target {
  display: flex;
  justify-content: center;
  font-size: 120%;
}

/* Thank you to MDN */
kbd, button.key {
    background-color: #eee;
    border-radius: 3px;
    border: 1px solid #b4b4b4;
    box-shadow: 0 1px 1px rgba(0,0,0,.2), 0 2px 0 0 rgba(255,255,255,.7) inset;
    color: #333;
    display: inline-block;
    font-family: consolas,"Liberation Mono",courier,monospace;
    font-size: .85em;
    font-weight: 700;
    line-height: 1;
    padding: 2px 4px;
    white-space: nowrap;
}

button.key {
  height: 2.5rem;
  min-width: 2.5rem;
  text-align: center;
  text-transform: unset;
  display: inline-flex;
  justify-content: center;
  align-content: center;
  text-align: center;
  letter-spacing: 0;
}

button.key.hidden {
  display: none;
}

.pressed {
  background-color: plum !important;
}

table.grid {
  width: auto;
  border: none;
}

table.grid td {
  border: none;
  padding: 0;
  margin: 0;
  min-width: 2rem;
  opacity: 0.8;
  text-align: center;
  font-size: 4rem;
}

header nav a {
  display: inline;
}

.button-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.game-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.game-wrapper article {
  padding: 0 5rem;
}

.page-list {
  display: flex;
  flex-direction: column;
  list-style-type: none;

  position: relative;

  width: 100%;
  max-width: 940px;

  margin: 0 auto;
}

.page-item {
  transition: all 0.2s;
  width: 100%;
}

.page-item + .page-item {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.page-content {
  display: flex;
  flex-direction: row;
}

.page-meta {
  display: flex;
  flex-direction: column;
}

.page-image-container {
  height: 60px;
  width: 100px;
  overflow: hidden;
}

.page-image {
  height: auto;
  width: 100%;
}

.rolling-image {
  opacity: 1;

  width: 120px;
  height: 120px;
  border: 2px solid black;
  border-radius: 50%;

}

.rolling-image--visible {
  opacity: 1;
}

.rolling {
  transition: all 0.75s;
}

.finisher {
  animation: spin1 0.5s infinite linear;
  margin-left: 800px;
}

@keyframes spin1 {
  0% {
  -moz-transform:rotate(320deg);
  -webkit-transform:rotate(320deg);
  -o-transform:rotate(320deg);
  -ms-transform:rotate(320deg);
  }
  100% {
  -moz-transform:rotate(680deg);
  -webkit-transform:rotate(680deg);
  -o-transform:rotate(680deg);
  -ms-transform:rotate(680deg);
  }
}
